.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    /* Adjust the size as needed */
    padding: 0;
    /* Remove padding to make the button snug around the icon */
}

.icon-button:focus {
    outline: none;
    /* Remove the default focus outline */
}

/* Optional: Style the icon */
.icon-button i {
    color: #FF5733;

}